* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: dashed;
}

img {
    width: 100%;
}

/*layout temp*/
.top {
    display: flex;
}

.sidebar {
    position: sticky;
    background-color: bisque;
    padding: 1rem;
    min-width: 80px;
    min-height: 1000PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    background-color: aquamarine;
    min-height: 1000px;
    min-width: 500px;
    height: calc(100vh - 90px);
    overflow-y: auto;

}

.bottom {

    background-color: rgb(189, 149, 96);
    min-width: 580px;
    min-height: 90px;

}