@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, serif;
    /*border-style: dashed;*/
}

:root {
    --sp-font-default: Montserrat, serif;
    /*side bar colors col*/
    --sp-color-sidebg: #000000;
    --sp-color-sideaccent: #ffffff;
    --sp-color-sidetxt: #a3a3a3;
    /*content headerish col*/
    --sp-color-Hbg: #080b12;
    --sp-color-Hbtn: #fdfdfd;
    /* content main col*/
    --sp-color-maibg: #141922;
    --sp-color-accent: #ffffff;
    --sp-color-Maintxt: #7b7d82;
    /*bottom player col*/
    --sp-color-playerBG: #282828;
    --sp-color-playerlight: #ffffff;
    --sp-color-playerdim: #c1c1c1;
    --sp-color-playerdark: #5a5a5a;
    /*underline eff*/
    --sp-color-underline: #adff2f;
}


img {
    max-width: ;
    width: 100%;
}


/*layout temp*/
.top {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
}

/*sidebar*/
.sidebar {
    height: 100%;
    min-width: 80px;
    overflow-y: auto;


    background-color: var(--sp-color-sidebg);
    color: var(--sp-color-sidetxt);
    padding: 1rem;



    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        display: none;
    }

    ul {
        list-style: none;


        a {

            text-decoration: none;
            color: var(--sp-color-sidetxt);




            &:hover {
                text-decoration: underline var(--sp-color-underline);
                color: var(--sp-color-Hbtn);
                font-weight: 600;

            }
        }

        .logo {
            display: flex;
            padding-bottom: 1rem;
        }

        .brand {
            font-size: 40px;
            color: #ffffff;
            font-weight: 700;
            display: none;
        }

        .fa-regular {
            padding-right: 1rem;
        }

    }

    .sideico {
        height: 40px;
        width: 40px;
        margin-right: 0.5rem;

    }

    .playlist {
        padding-top: 1rem;
        display: none;

        lh {
            font-weight: 700;
            color: #ffffff;
        }

        .plus {
            font-size: 40px;
        }

        li {
            margin-top: 1rem;

        }
    }


}

/* main content with top and bottom*/

.content {
    background-color: var(--sp-color-maibg);
    color: var(--sp-color-Maintxt);
    overflow-y: auto;
    width: 100%;

    h2,
    h3 {
        color: var(--sp-color-accent);
        padding: 1rem;
    }

    h4 {
        color: var(--sp-color-Maintxt);
        padding: 1rem;
    }

    .upgrade {
        background-color: var(--sp-color-maibg);
        color: var(--sp-color-Hbtn);
        padding: 1rem 2rem;
        text-align: right;

        input {
            color: var(--sp-color-Hbtn);
            padding: 0.5rem 1.5rem;
            background-color: transparent;
            border: 2px solid var(--sp-color-Hbtn);
            border-radius: 1rem;

            &:hover {
                padding: 1rem 2rem;
                border: 2px solid;
                border-radius: 2rem;
                font-weight: 800;
            }
        }
    }

    nav {
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        a {
            color: var(--sp-color-Maintxt);
            text-decoration: none;

            &:hover {
                text-decoration: underline var(--sp-color-underline);
                color: var(--sp-color-accent);
                font-weight: 600;
            }
        }
    }

    .box {
        padding-top: 2rem;

    }



    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .card {
        padding: 1rem;
        text-align: center;
        max-height: 350px;
        max-width: 300px;



    }

    .imgcontainer {
        position: relative;

        .middle {
            font-size: 90px;
            position: absolute;
            transition: .5s ease;
            opacity: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);


        }

        &:hover {
            .album {
                opacity: 0.3;
            }

            .middle {
                opacity: 1;
            }
        }
    }

    .album {
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }


}





/*bottom player & navigation*/

.bottom {
    height: 80px;
    overflow: hidden;
    width: 100%;
    padding: 1rem;

    background-color: var(--sp-color-playerBG);
    color: var(--sp-color-playerlight);

    display: flex;
    justify-content: space-between;

    i {
        &:hover {
            font-weight: 600;
            color: var(--sp-color-accent);
        }
    }
}

.nav-left {
    display: flex;


    img {
        width: 30px;
        height: 30px;
    }

    div {
        padding-left: 1rem;
    }

    .icocontainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }



}

.player {
    text-align: center;

    .bar {
        margin-top: 1rem;
        height: 2px;
        width: 100%;
        background-color: var(--sp-color-playerdark);

    }

    .bar2 {
        margin-top: 1rem;
        height: 2px;
        width: 30%;
        background-color: var(--sp-color-playerdim);

        &:hover {
            height: 3px;
            background-color: var(--sp-color-underline);
        }

    }
}

.nav-center {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;



    .fa-play {
        &:hover {
            font-size: 40px;
        }
    }
}

.adjust {
    .bar {
        margin-top: 1rem;
        height: 2px;
        width: 100%;
        background-color: var(--sp-color-playerdark);

    }

    .bar2 {
        margin-top: 1rem;
        height: 2px;
        width: 60%;
        background-color: var(--sp-color-playerdim);

        &:hover {
            height: 3px;
            background-color: var(--sp-color-underline);
        }

    }
}

.nav-right {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;


}

@media screen and (min-width: 600px) {
    .sidebar {
        width: 300px;

        .small {
            display: none;
        }

        ul {
            .brand {
                display: block;
            }
        }

        .playlist {
            display: block;
        }

        span {
            display: inline;
        }
    }

    .nav-left {
        .icocontainer {
            flex-direction: row;
        }
    }
}