@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, serif;
    /*border-style: dashed;*/
}

:root {
    --sp-font-default: Montserrat, serif;
    /*side bar colors col*/
    --sp-color-sidebg: #000000;
    --sp-color-sideaccent: #ffffff;
    --sp-color-sidetxt: #a3a3a3;
    /*content headerish col*/
    --sp-color-Hbg: #080b12;
    --sp-color-Hbtn: #fdfdfd;
    /* content main col*/
    --sp-color-maibg: #141922;
    --sp-color-accent: #ffffff;
    --sp-color-Maintxt: #7b7d82;
    /*bottom player col*/
    --sp-color-playerBG: #282828;
    --sp-color-playerlight: #ffffff;
    --sp-color-playerdim: #c1c1c1;
    --sp-color-playerdark: #5a5a5a;
    /*underline eff*/
    --sp-color-underline: #adff2f;
}


img {
    width: 100%;
}


/*layout temp*/
.top {
    display: flex;
    width: 100%;
}

/*sidebar*/
.sidebar {
    position: sticky;
    overflow: hidden;
    left: 0;
    top: 0;
    height: calc(100vh - 90px);
    max-width: 80px;


    background-color: var(--sp-color-sidebg);
    color: var(--sp-color-sidetxt);
    padding: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
        justify-content: center;
    }


}

/* main content with top and bottom*/

.content {
    background-color: var(--sp-color-maibg);
    color: var(--sp-color-Maintxt);
    overflow-y: auto;
    width: 100%;

    h2,
    h3 {
        color: var(--sp-color-accent);
        padding: 1rem;
    }

    h4 {
        color: var(--sp-color-Maintxt);
        padding: 1rem;
    }

    .upgrade {
        background-color: var(--sp-color-maibg);
        color: var(--sp-color-Hbtn);
        padding: 1rem 2rem;
        text-align: right;

        input {
            padding: 0.5rem;
        }
    }

    nav {
        padding: 1rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        a {
            color: var(--sp-color-Maintxt);
            text-decoration: none;

            &:hover {
                text-decoration: underline var(--sp-color-underline);
            }
        }
    }

    .box {
        padding-top: 2rem;

    }



    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .card {
        padding: 1rem;
        text-align: center;
        max-height: 3500px;
        max-width: 300px;


        img {
            width: 300px;
        }
    }

}





/*bottom player & navigation*/

.bottom {
    position: sticky;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 1rem;

    background-color: var(--sp-color-playerBG);
    color: var(--sp-color-playerlight);

    display: flex;
    justify-content: space-between;
}


.nav-center {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.nav-right {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;

}